.image-desc-row {
    padding-bottom: 3%;
}

.image-desc-row img {
    width: 50%;
}

.desc-col {
    padding-top: 10%
}

.desc-col a {
    font-size: xx-large;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}