.image-desc-row {
    padding-bottom: 3%;
}

.image-desc-row img {
    width: 50%;
    border-style: solid;
    border-width: 0.5rem;
    border-color: dimgrey;
    border-radius: 1rem;
}

.desc-col {
    padding-top: 10%;
    padding-right: 5% !important;
}

.desc-col a {
    font-size: xx-large;
    color: lime;
}

.set-link {
    font-size: xx-large;
    color: darkgreen !important;
}

.img-col {
    margin-right: -10%;
}

hr {
    border-color: white !important;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    font-size: 90px !important;
    padding-bottom: 5%;
    color: dimgrey !important;
}

.home-logo {
    width: 100%;
}

.fixed-div {
    position: fixed;
    z-index: 999;
    top: 0;
}

#sidenav {
    position: fixed;
    z-index: 999;
    top: 0;
    background-color: black;
    border-style: solid;
    border-color: white;
    border-width: thin;
    border-radius: 0.5rem;
    color:lime;
    scrollbar-width: none;
    height: 98%;
    overflow-y: scroll;
}

#sidenav::-webkit-scrollbar {
    background: transparent;
    width: 0px;
}

.sidebarDiv {
    border-radius: 0.5rem;
    border-color: white;
    border-style: solid;
    border-width: thin;
    cursor: pointer;
    font-size: x-large;
    margin-bottom: 1.5rem;
}

select {
    height: 3.5rem;
    width: 100%;
    border-radius: 1rem;
    font-size: x-large !important;
    background:black;
    color: white;
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
    cursor: pointer;
}

#setFilterSubmit {
    margin-top: 2rem;
    height: 50%;
    width: min-content;
    font-size: xx-large;
    border-style: solid;
    border-color: white;
    background-color: black;
    color: lime;
    cursor: pointer;
}

#card-search {
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    border-color: white;
    border-radius: 0.5rem;
    margin-bottom: 10%;
}