.image-desc-row {
    padding-bottom: 3%;
}

.image-desc-row img {
    width: 50%;
}

.desc-col {
    padding-top: 10%
}

.desc-col a {
    font-size: xx-large;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

h1 {
    font-size: 90px !important;
    padding-bottom: 5%;
    color: dimgrey !important;
}

.home-logo {
    width: 100%;
}

.fixed-div {
    position: fixed;
    z-index: 999;
    top: 0;
}

#sidenav {
    position: fixed;
    z-index: 999;
    top: 0;
    background-color: black;
    border-style: solid;
    border-color: white;
    border-width: thin;
    border-radius: 0.5rem;
    color:lime;
    scrollbar-width: none;
    height: 50%;
    overflow-y: scroll;
}

#sidenav::-webkit-scrollbar {
    background: transparent;
    width: 0px;
}

.sidebarDiv {
    border-radius: 0.5rem;
    border-color: white;
    border-style: solid;
    border-width: thin;
    cursor: pointer;
}